<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>Logi sisse</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width" />
	<base href="/" />
	<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
	<script type="text/javascript" src="/webjars/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>
	<link rel="stylesheet" th:href="@{/css/main.css}" />
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://vuejs.org/js/vue.js"></script>
	<script src="/js/script.js"></script>

</head>

<body>

	<div class="form-group">
		
		<div th:fragment="logout" class="logout" sec:authorize="isAuthenticated()">
			Logged in user: <b><span sec:authentication="name"></span></b> | Roles: <b><span sec:authentication="authorities"></span></b>
				<form action="#" th:action="@{/logout}" method="post">
			       <button type="submit"  class="btn btn-danger btn-sm">
			       <span class="glyphicon glyphicon-log-out"></span>
			        Log out</button>
				</form>
		</div>
		<br/>
		
		<h1>Logi sisse</h1>
		<h5>Kasutajanime ja parooliga</h5>
		<form th:action="@{/login}" method="post" class="login-form">
			<input type="text" id="username" class="form-control" name="username" autofocus="autofocus" placeholder="E-mail"/> <br />
			<input type="password" id="password" class="form-control" name="password" placeholder="Parool"/> <br />
			<p th:if="${loginError}" class="alert alert-danger">Vale e-mail või parool!</p>
			<button type="submit" class="btn btn-success">
				<span class="fa fa-user"></span>Login
			</button>
		</form>
		<h5>Google kontoga</h5>
		<form action="/connect/google" method="POST" class="login-form">
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> 
			<input type="hidden" name="scope" value="profile email" />
			<button type="submit" class="btn btn-danger">
				Google <span class="fa fa-google-plus"></span>
			</button>
		</form>
		<div>
			<a href="/registration" th:href="@{/registration}">Registreeri uus kasutaja</a>
		</div>
	</div>
</body>

</html>